<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body class="container py-12 px-4 md:px-24 bg-grey-lighter font-sans text-grey-darkest leading-normal">

    {{ content | safe }}

    <script src="/js/main.js"></script>
  </body>

</html>
